<!--<section id="affiliation" style="background-color: #2f526f; color: white;">-->
<!--    <div class="container my-4">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 order-md-first d-flex justify-content-center">-->
<!--                <img src="img/foundry_600x400_cropped.jpg" alt="Main Image Description" class="img-fluid main-image" style="max-width: 100%; height: auto;">-->
<!--            </div>-->

<!--            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">-->
<!--                <p></p>-->
<!--                <img src="img/foundry logo_white.png" alt="Small Image Description" class="img-fluid mb-3 mx-auto" style="max-width: 60%;">-->
<!--                <p></p>-->
<!--                <p id="title_affiliation" class="lead text-left"> We work hand-in-hand with Canada's first biofoundry, a high-throughput synbio platform, for your strain prototyping needs.</p>-->
<!--                <a href="https://genomefoundry.ca" target="_blank" id="button_affiliation" class="btn btn-default btn-xl" style="background-color: white; color: #2f526f;">Explore the Genome Foundry</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <style>-->
<!--        @media (max-width: 576px) {-->
<!--            .main-image {-->
<!--                width: 100%;-->
<!--                max-width: 100%;-->
<!--                height: auto;-->
<!--                object-fit: contain;-->
<!--            }-->
<!--        }-->
<!--       /* .btn-default {  You might need to define these styles if not using Bootstrap-->
<!--            background-color: #f0f0f0;-->
<!--            border-color: #ccc;-->
<!--            color: #333;-->
<!--        }-->
<!--        .btn-xl {-->
<!--            font-size: 1.2em;-->
<!--            padding: 10px 20px;-->
<!--        }*/-->
<!--    </style>-->

<!--</section>-->

<section id="affiliation" class="no-padding" style="background-color: #2f526f; color: white">
    <div class="container my-4" style="max-width: 1100px;">
        <div class="row">
            <div class="col-md-6 order-md-first d-flex justify-content-center">
                <img src="img/foundry_600x400_cropped.jpg" alt="Main Image Description" class="img-fluid main-image">
            </div>

            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <p></p>
                <img src="img/foundry logo_white.png" alt="Small Image Description" class="img-fluid mb-3 mx-auto" style="max-width: 60%;">
                <p id="title_affiliation" class="lead text-left"> We work hand-in-hand with Canada's first biofoundry, a high-throughput synbio platform, for your strain prototyping needs.</p>
                <a href="https://genomefoundry.ca" target="_blank" id="button_affiliation" class="btn btn-default btn-xl" style="background-color: white; color: #2f526f;">Explore the Genome Foundry</a>
            </div>
        </div>
    </div>

    <style>
        .main-image {
            max-width: 100%;
            height: auto;
        }

        @media (max-width: 576px) {
            .main-image {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .btn-default {
            background-color: #f0f0f0; /* Or remove entirely if using Bootstrap defaults */
            border: none; /* Removed border */
            color: #333; /* Or remove entirely if using Bootstrap defaults */
            padding: 10px 20px; /* Adjust padding as needed */
        }
        .btn-xl {
            font-size: 1.2em;
            padding: 10px 20px;
        }
    </style>

</section>