<!--<section id="affiliation" style="background-color: black; color: white;">-->
<!--<div class="container my-4">-->
<!--&lt;!&ndash;<div class="container my-4" style="background-color: black; color: white;">&ndash;&gt;-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; Left side: Small Image + Text &ndash;&gt;-->
<!--        <div class="col-md-6 d-flex flex-column align-items-center">-->
<!--            &lt;!&ndash; Small Image &ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="text-center">Partnerships</h2>&ndash;&gt;-->
<!--&lt;!&ndash;            <hr class="primary">&ndash;&gt;-->
<!--            <img src="img/foundry logo_white.png" alt="Small Image Description" class="img-fluid mb-3" style="max-width: 80%;">-->

<!--            &lt;!&ndash; Text Below the Image &ndash;&gt;-->
<!--            <p></p>-->
<!--            <p class="lead text-left">We work hand-in-hand with Canada's first biofoundry for your high-throughput strain prototyping needs.</p>-->
<!--            <p></p>-->
<!--            <p><h4> Interested in working with the Genome Foundry?<br>Send us an email!</h4></p>-->
<!--            <a href="mailto:genomefoundry@concordia.ca">-->
<!--                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="color: white;"></i>-->
<!--                <p style="color:white;">{{ site.email }}</p>-->
<!--            </a>-->
<!--        </div>-->

<!--        &lt;!&ndash; Right side: Main Image &ndash;&gt;-->
<!--        <div class="col-md-6">-->
<!--            <img src="img/foundry_600x400.jpg" alt="Main Image Description" class="img-fluid w-100 main-image">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; Custom CSS &ndash;&gt;-->
<!--<style>-->
<!--    @media (max-width: 576px) {-->
<!--        .main-image {-->
<!--            width: 100%; /* Ensure it takes up full width but doesn't exceed container */-->
<!--            max-width: 100%; /* Prevent image from exceeding the container width */-->
<!--            height: auto; /* Maintain aspect ratio */-->
<!--            object-fit: contain; /* Adjusts the image without cropping */-->
<!--        }-->
<!--    }-->
<!--</style>-->

<!--</section>-->

<section id="affiliation" style="background-color: #2f526f; color: white;">
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 order-md-first">  <img src="img/foundry_600x400_cropped.jpg" alt="Main Image Description" class="img-fluid w-100 main-image">
            </div>

            <div class="col-md-6">
                <img src="img/foundry logo_white.png" alt="Small Image Description" class="img-fluid mb-3" style="max-width: 60%;">
                <p></p>
                <p class="lead text-left">We work hand-in-hand with Canada's first biofoundry for your high-throughput strain prototyping needs.</p>
                <p></p>
                <p><h4> Interested in working with the Genome Foundry?<br>Send us an email!</h4></p>
                <a href="mailto:genomefoundry@concordia.ca">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="color: white;"></i>
                    <h5 style="color: white;">genomefoundry@concordia.ca</h5>
                    <p style="color:white;">{{ site.email }}</p>
                </a>
            </div>
        </div>
    </div>

    <style>
        @media (max-width: 576px) {
            .main-image {
                width: 100%;
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    </style>

</section>