<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Work with our experts</h2>
                <hr class="light">
                <p class="text-faded" style="font-size: 24px">With over 15 years of industry experience, our staff is here to support a wide range of projects, from academic proof-of-concept scale-ups to production demonstrations for startups.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
