<!-- Footer -->
    <footer class="border-top: 0.5px solid black;">
        <div class="container">
        <div class="row align-items-center justify-content-between">
            <div style="padding-left: 20px;">
                <p></p>
                <span><strong id="text_footer"><class="navbar-brand mr-2 mb-0">Concordia Bioprocessing</strong> © <script>document.write(new Date().getFullYear())</script>.</span>
                <p></p>
            </div>
        </div>
        </div>
    </footer>