<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- Logo (Centered) -->
            <div class="logo-container">
                <img src="img/logo.png" alt="Concordia Bioprocessing Logo (EN)" class="logo" id="languageLogo">
            </div>

            <!-- Title and Text -->
            <hr style="border-color: white;">
            <p id="big_text_header" style="font-size: 32px; text-transform: uppercase; font-weight: bold; color: white;">Supporting microbe-based biomanufacturing from bench to pilot scale</p>
            <p><h3 id="small_text_header">A full-service R&D platform to realize the production potential of your research</h3></p>
<!--            <a href="#work-with-us" id="button_header" class="btn btn-primary btn-xl page-scroll">Find out more</a>-->
        </div>
    </div>
</header>


