<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- Logo (Centered) -->
            <div class="logo-container">
                <img src="img/logo.svg" alt="Concordia Bioprocessing Logo" class="logo">
            </div>

            <!-- Title and Text -->
            <hr>
            <p><h2> Full service R&D platform for microbe-based biomanufacturing - process optimization, scale-up,
                    scale-down, mass balancing, and technology transfer
            </h2></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
