<section id="instrumentation">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Instrumentation</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Fermentation</h3>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                <h4>Mini Benchtop Fermenter - Detailed Description</h4>
                                <p>This mini benchtop fermenter is perfect for small-scale experiments and process development.  It features advanced control systems for precise regulation of temperature, pH, and dissolved oxygen.  The compact design makes it ideal for labs with limited space.  It's compatible with a variety of microbial cultures and can be used for both batch and fed-batch fermentations.  The integrated data logging capabilities allow for real-time monitoring and analysis of your experiments.  We also offer optional add-ons such as automated sampling and online biomass measurement.</p>
                                <p>Key features include:</p>
                                <ul>
                                    <li>Precise temperature control (+/- 0.1°C)</li>
                                    <li>Sterilizable glass vessel</li>
                                    <li>Integrated touch screen interface</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                Small benchtop fermenter
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                SIP fermenter
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                Another fermenter
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Downstream Processing</h3>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                Centrifuge
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                TFF System
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                Spray Dryer
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                Lyophilizer
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Analysis</h3>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                HPLC
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                Microscope
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                SDS-PAGE setup
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instrument-box">
                            <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                            <div class="instrument-caption">
                                Bradford Assay tools
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>