<!--
        5/6 License-free images taken from:
        https://www.pexels.com/search/process%20control/
        and resized/cropped with this:
        https://www.resizepixel.com/download
                    -->
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Fermentation capacity
                            </div>
                            <div class="project-name">
                                <strong>Mini benchtop</strong> : 0.2 L (×8) <i>coming in Spring 2025</i><br>
                                <strong>Small benchtop</strong> : 3 L (×4), 5 L, 15 L (×2), 20 L (×2)<br>
                                <strong>Steam-in-place</strong> : 10 L, 100 L, 200 L <i>coming before 2026</i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Downstream Processing
                            </div>
                            <div class="project-name">
                                Batch centrifugation up to 16L, continuous centrifugation <i>coming soon</i>, tangential flow filtration, spray drying, lyophilization
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Monitoring & Analysis
                            </div>
                            <div class="project-name">
                                Dry cell weight; microscopy; carbohydrates, organic acids, or other metabolites by HPLC-RI/UV/MS; protein by Bradford assay and SDS-PAGE
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Organisms we have worked with
                            </div>
                            <div class="project-name">
                                <strong> Bacteria </strong>: <i>Pseudomonas, Lactobacillus, E. coli, C. necator, Enterococcus faecium, B. thuringiensis, B. licheniformis </i><br>
                                    <strong> Yeast </strong>: <i>P. pastoris, S. cerevisiae, K. marxianus, T. asahii, Methylotrophic yeasts </i><br>
                                <strong> Fungi </strong>: <i>A. niger, T. viride, P. indica, Melanocarpus albomyces, Termitomyces sp. OE147 </i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Products we have experience with
                            </div>
                            <div class="project-name">
                                Biopolymers, biofertilizers, biopesticides, biofuels, probiotics, recombinant proteins, Insulin, enzymes, acids, plasmid DNA, biological controls
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Modes and Control
                            </div>
                            <div class="project-name">
                                <strong>Run in</strong> batch, fed-batch, or continuous mode<br>
                                <strong>Control by </strong>dissolved oxygen/agitation, pH, temperature, off-gas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
