<!--
        5/6 License-free images taken from:
        https://www.pexels.com/search/process%20control/
        and resized/cropped with this:
        https://www.resizepixel.com/download
                    -->
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box page-scroll">
                <div class="gallery-container" style="position: relative;">  <div class="gallery-inner" style="overflow: hidden; white-space: nowrap;">
                        <img src="img/portfolio_extra/1.jpg" alt="Image 1" class="gallery-image">
                        <img src="img/portfolio_extra/8660.jpg" alt="Image 2" class="gallery-image">
                        <img src="img/portfolio_extra/benchtop.jpg" alt="Image 3" class="gallery-image">

                        </div>
                    <button class="gallery-control prev-button" onclick="scrollGallery(-1)" style="position: absolute; left: 0; top: 50%; transform: translateY(-50%);">❮</button>
                    <button class="gallery-control next-button" onclick="scrollGallery(1)" style="position: absolute; right: 0; top: 50%; transform: translateY(-50%);">❯</button>
                </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <p id="title1_portfolio">Fermentation capacity</p>
                            </div>
                            <div class="project-name">
                                <h4 id="text1_1_portfolio"><strong>Mini benchtop</strong> : 0.2 L (×8) (<i>coming in Spring 2025</i>)</h4>
                                <h4 id="text1_2_portfolio"><strong>Small benchtop</strong> : 3 L (×4), 5 L, 15 L (×2), 20 L (×2)</h4>
                                <h4 id="text1_3_portfolio"><strong>Steam-in-place</strong> : 10 L, 100 L, 200 L (<i>coming before 2026</i>)</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box page-scroll">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <p id="title2_portfolio">Downstream Processing</p>
                            </div>
                            <div class="project-name">
                                <h4 id="text2_1_portfolio"> Continuous centrifugation (<i>coming soon</i>), tangential flow filtration, spray drying, lyophilization </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box page-scroll">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <p id="title3_portfolio">Monitoring & Analysis</p>
                            </div>
                            <div class="project-name">
                                <h4 id="text3_1_portfolio"> Biomass analysis, cell imaging, sugar & metabolite profiling, protein quantification </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box page-scroll">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <p id="title4_portfolio">Organisms we have worked with</p>
                            </div>
                            <div class="project-name">
                                <h4 id="text4_1_portfolio"> Bacteria, budding yeasts, methylotrophic yeasts, fungi </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box page-scroll">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <p id="title5_portfolio">Products we have experience with</p>
                            </div>
                            <div class="project-name">
                                <h4 id="text5_1_portfolio"> Biopolymers, biofertilizers, biopesticides, biofuels, probiotics, recombinant proteins, Insulin, enzymes, acids, plasmid DNA, biological controls</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box page-scroll">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <p id="title6_portfolio">Modes and Control</p>
                            </div>
                            <div class="project-name">
                                <h4 id="text6_1_portfolio"> Run in batch, fed-batch, or continuous mode </h4>
                                <h4 id="text6_2_portfolio"> Control by dissolved oxygen, pH, temperature, off-gas </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
