<section id="pricing" style="background-color: grey; color: black;">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Competitive Pricing for Startups and Academics</h2>
            <hr class="primary" style="border-color: black;">
<!--            <a href="docs/Bioprocess_Draft Pricing_June 2024.pdf" class="btn btn-default btn-xl wow tada">See Current Pricing</a>-->
            <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Contact Us for Pricing</a>
            <p></p>
            <p class="lead text-center mt-4">Ask about funding opportunities for Quebec startups.</p>
            <img src="img/partners/source/CRIBIQ-long-noir-transparent-1.png" alt="Small Image Description" class="img-fluid mb-3" style="max-width: 33%;">
        </div>
    </div>
</section>
