<section id="pricing" style="background-color: black; color: white;">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 id="title_pricing">Competitive Pricing for Startups and Academics</h2>
            <hr class="primary" style="border-color: black;">
            <a href="#contact" id="button_pricing" class="btn btn-default btn-xl wow tada page-scroll">Contact Us for Pricing</a>
            <p></p>
            <p id="text_pricing" class="lead text-center mt-4">Ask about funding opportunities for Quebec startups.</p>
            <a href="https://cribiq.qc.ca/en/our-services/funding-programs" target="_blank" rel="noopener noreferrer">
                <img src="img/partners/white/cribiq logo_white.png" alt="CRIBIQ Logo" class="img-fluid mb-3" style="max-width: 33%;">
            </a>
        </div>
    </div>
</section>

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->