<section id="signoff" style="background-color: white; color: black;">
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 order-md-first d-flex justify-content-center">
                <img src="img/future-students-pathways-loy_Lisa Graves_copyright Concordia.jpg" alt="Main Image Description" class="img-fluid main-image" style="max-width: 100%; height: auto;">
                <div class="image-credit">
                    <p id="signoff_credit" class="credit-text" style="font-size: 0.8em">Credit: Lisa Graves</p>
                </div>
            </div>
<!--License free image from Unsplash-->
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <p></p>
                <p id="text_signoff" class="lead text-center" style="max-width: 100%; font-family: 'open sans'; font-size: 1.5em; font-weight: 500">Let us unlock the full potential of your strains with expert care.</p>
                <hr class="primary" style="border-color: black">
            </div>
        </div>
    </div>

    <style>
        @media (max-width: 576px) {
            .main-image {
                width: 100%;
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
       /* .btn-default {  You might need to define these styles if not using Bootstrap
            background-color: #f0f0f0;
            border-color: #ccc;
            color: #333;
        }
        .btn-xl {
            font-size: 1.2em;
            padding: 10px 20px;
        }*/
    </style>

</section>