<!--Black on white-->
<!--<section id="support" style="background-color: white; color: black;">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12 text-left">-->
<!--                <h4 id="text_support" class="section-heading">With Support from</h4>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center align-items-center">-->
<!--            <div class="col-lg-3 col-md-3 col-sm-6 text-center">-->
<!--                <div class="service-box">-->
<!--                    <img src="img/partners/black/MEIE_black.png" alt="Partner Logo" class="img-fluid" style="max-width: 80%; height: auto; width: auto;">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-3 col-sm-6 text-center">-->
<!--                <div class="service-box">-->
<!--                    <img src="img/partners/black/CFI_black.png" alt="Partner Logo" class="img-fluid" style="max-width: 80%; height: auto; width: auto;">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-3 col-sm-6 text-center">-->
<!--                <div class="service-box">-->
<!--            		<a href="https://www.concordia.ca/cunews/offices/advancement/2022/09/28/collaboration-leads-to-success-lallemand-inc-gives-812-000-to-bioprocessing-centre.html" target="_blank" rel="noopener noreferrer">-->
<!--		                <img src="img/partners/black/Lallemand_black2.png" alt="Partner Logo" class="img-fluid" style="max-width: 75%; height: auto; width: auto;">-->
<!--&lt;!&ndash;                        <p><h5>story</h5></p>&ndash;&gt;-->
<!--		            </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-3 col-sm-6 text-center">-->
<!--                <div class="service-box">-->
<!--                    <img src="img/partners/black/Concordia_black.png" alt="Partner Logo" class="img-fluid" style="max-width: 80%; height: auto; width: auto;">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--White on black-->
<section id="support" style="background-color: black; color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 id="text_support" class="section-heading">With Support from</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="service-box">
                    <img src="img/partners/white/MEIE_white.png" alt="Partner Logo" class="img-fluid" style="max-width: 80%; height: auto; width: auto;">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="service-box">
                    <img src="img/partners/white/CFI_white.svg" alt="Partner Logo" class="img-fluid" style="max-width: 80%; height: auto; width: auto;">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="service-box">
            		<a id="lallemandLink" href="https://www.concordia.ca/cunews/offices/advancement/2022/09/28/collaboration-leads-to-success-lallemand-inc-gives-812-000-to-bioprocessing-centre.html" target="_blank" rel="noopener noreferrer">
		                <img src="img/partners/white/Lallemand_white.png" alt="Partner Logo" class="img-fluid" style="max-width: 75%; height: auto; width: auto;">
<!--                        <p><h5>story</h5></p>-->
		            </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="service-box">
                    <img src="img/partners/white/Concordia_white.png" alt="Partner Logo" class="img-fluid" style="max-width: 80%; height: auto; width: auto;">
                </div>
            </div>
        </div>
    </div>
</section>