<section id="testimonial" class="no-padding" style="background-color: white; color: black;">
    <div class="banner-container" style="width: 100%; height: 350px; overflow: hidden;">
        <img src="img/clients/pexels-shvetsa-5953774.jpg" alt="Banner Image" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
    <div class="container text-center">
        <div class="call-to-action">
            <p></p>
            <h2 id="clientFeatureTitle">Client Feature</h2>
            <hr class="primary" style="border-color: black;">
            <p class="lead text-center mt-4" id="clientTestimonial">We ♥ Lalit. <i>-You Know Wh<strong>MOO</strong>N</i></p>
            <img src="img/clients/harvest-moon-foods.jpeg" alt="Small Image Description" class="img-fluid mb-3" style="max-width: 33%;">
        </div>
    </div>
</section>