<section class="bg-primary" id="work-with-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 id="title_about" class="section-heading">Work with Our Experts</h2>
                <hr class="light">
                <p id="text_about"  class="text-faded" style="font-size: 19px">With over 15 years of hands-on industrial fermentation experience and decades of expertise in microbial strain engineering, we support emerging startups and academic researchers by offering services in process optimization, scale-up and scale-down, production demonstration, and technology transfer.</p>
                <a href="#portfolio" id="button_about" class="btn btn-default btn-xl page-scroll" style="background-color: white; color: #2f526f;">Learn How We Can Help</a>
            </div>
        </div>
    </div>
</section>
